<br>
<div *ngIf="restaurant">
  <div class="row">
      <div class="col-md-6 detail-card">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ restaurant.name }} </strong>
              <h3 class="mb-0">
              </h3>
              <div class="mb-1 text-muted">Rating: {{restaurant.user_rating.aggregate_rating}}</div>
              <p class="card-text mb-auto">{{ restaurant.cuisines }}</p>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="restaurant image" src="{{ restaurant.featured_image }}" data-holder-rendered="true" style="width: 350px; height: 250px;">
          </div>
        </div>
        <map [restaurantLocation]="restaurant.location"></map>
  </div>
  <div *ngIf="reviews">
    <h1 class="page-header" style="margin-left: 15px;">Reviews</h1>
    <div *ngFor="let item of reviews">
      <div class="col-md-8">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{item.review.user.name}} </strong>
              <h3 class="mb-0">
              </h3>
              <div class="mb-1 text-muted">Rating: {{item.review.rating}}</div>
              <p class="card-text mb-auto">{{item.review.review_text}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>